* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 1140px;
    height: 100%;
    /* background-color: darkkhaki; */
    margin:auto;
}

.logo {
    width: 200px;
    height: 80px;
    /* background-color: darkseagreen; */
    background-image: url("./img/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    transition: 1s;
    margin: auto;

}

/* .logo:hover {
    background-size: 105%;

} */

#logobar {
    width: 100%;
    height: 80px;
    /* background-color: black; */
    /* padding: 30px 0 0 10px; */
}

#banner {
    width: 100%;
    height: 450px;
    background-color: rgb(29, 22, 14);
    background-image: url("./img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    /* background-attachment: fixed; */
    /* transition: 1s; */
}

/* #banner:hover{
    background-size: 100%;
    background-repeat:no-repeat;
} */

#nav {
    width: 100%;
    height: 60px;
    background-color:#36251d;
    /* background-color: rgb(54, 31, 31); */

    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
}

.btn-group {
    width: 100%;
    height: 60px;
    /* background-color:darkslategrey; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 120px;
    height: 30px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    font-size: 22px;
    color: snow;
    line-height: 30px;
    padding: 0 10px;
    font-family: Microsoft JhengHei;
    text-align: center;
    text-decoration: none;
    position: relative;
    border-left:1px snow solid ;
    border-right:1px snow solid ;

}



/* #content {
    width: 100%;
    min-height: 200px;
    background-color: slategrey;
} */

.section1 {
    width: 100%;
    min-height: 400px;
    background-color: #282E34;

    position: relative;

}

.img {
    width: 100%;
    height: 900px;
    background-image: url("img/屍速列車2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text {
    padding: 20px 20PX 20PX;

}

.text p{
    text-align: justify;
}

.h1_w{
    color: white;

}

.h1 {
    font-family: Microsoft JhengHei;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    font-weight:600;
    padding-bottom: 20px;
}
h1{
    font-size: 35px;
}

.tittle{
    width: 150px;
    height: 55px;
    /* border-bottom: 4px solid rgb(255, 255, 183) ; */
    margin: auto;
    margin-bottom: 30px;
}

p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: Microsoft JhengHei;
    line-height: 28px;
    text-align: left;
}

.section2 {
    width: 100%;
    min-height: 600px;
    /* background-color: tomato; */
    /* margin-top: 30px; */
    position: relative;
}


.textboxall {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;

}

.section2 .texture:nth-child(1),
.section2 .texture:nth-child(2),
.section2 .texture:nth-child(3) {
    width: 100%;
    /* background-color: rgb(121, 86, 86); */
    /* margin-top: 10PX; */

}

.section2 .texture:nth-child(2) {
    margin: 0px 30px;
}

.picbox {
    width: 100%;
    height: 300px;
    background-image: url("./img/演員3-1.png");
    background-position: center;
    background-size: cover;
    
}

.picbox1 {
    width: 100%;
    height: 300px;
    background-image: url("./img/演員2-1.png");
    background-position: center;
    background-size: cover;
}

.picbox2 {
    width: 100%;
    height: 300px;
    background-image: url("img/演員3.jpg");
    background-position: center;
    background-size: cover;
}

.textbox {
    width: 100%;
    min-height: 300px;
    background-color:black;
    padding: 12px 12px 0 12px;
    text-align: justify;

}
.textbox p{
    text-align: justify;
}

h2 {
    color: white;
    font-size: 25px;
    text-align: center;
}

h3{
    line-height: 22px;
    text-align: center;
    color: rgb(255, 255, 183);
    font-family: Microsoft JhengHei;
    
}



.one-third {
    width: 100%;
    height: 500px;
    /* background-color: yellow; */
    /* background-image: url("https://img.ltn.com.tw/Upload/partner/page/2020/04/09/200409-7794-1-FldAd.jpg"); */
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.section3 {
    background-image: url("./img/section3.jpg");
}

.text-area-black {
    width: 100%;
    background-color: #282E34;
    color: white;
    padding: 20px 20px;
}

.mask {
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.2);
    position: relative;

}

.section5 .container {
    display: flex;
    justify-content: space-between;
    

}

.pic01 {
    width: 50%;
    height: 500px;
    background-image: url("img/0728-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 100px 0;
    float: left;
    position: relative;
    margin-right: 50px;
}

.text01 {
    width: 50%;
    font-size: 16px;
    float: left;
    /* background-color: cornsilk; */
    /* margin: 125px 0 0 50px; */
    font-family: Microsoft JhengHei;
    line-height: 30px;
    text-align: justify;


}

#footer {
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
}
p{
    margin: auto;
}
.footerlogo{
    width: 200px;
    height: 75px;
    background-image: url("img/vscinemas_logo.png");
}

#point2{
    position: absolute;
    top: -80px;
    left: 0;
    opacity: 0;
}

#point1,
#point3,
#point4 {
    position: absolute;
    top: -60px;
    left: 0;
    opacity: 0;
}

.text-box-1 {
    color:white;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Microsoft JhengHei;
    padding: 0 20px;
}

.text-box-bg-color{
    background-color:rgba(0, 0, 0, 0.8);
}

.pic01 .text-box-1 {
    color:white;
}

.mask .text-box-1 {
    color:rgb(20, 9, 9);
    font-weight: 900;
}

#gototop{
    /* width: 50PX;
    height: 50PX;
    background-image: url("img/up-chevron-button.png");
    background-size:100% ;
    background-position:center ;
    background-repeat:no-repeat ; */
    font-size: 45px;
    color:black;
    position: fixed;
    right: 50PX;
    bottom: 75PX;
    z-index: 100;

    transition: 1s;
}
#gototop:hover{
    color:rgb(255, 255, 183);
}

.btn::after {
    content: ' ';
    width: 0px;
    height: 1px;
    background-color:rgb(255, 255, 183);

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    opacity: 0;
}

.btn:hover::after {
    width: 100px;
    opacity: 1;
}

.box{
    width: 100%;
    display: flex;
    align-items: center;
}


@media(max-width:1280px){
    .container {
        width: 1140px;
    }
.btn-group{
    padding: 0 20px;
}
}

@media(max-width:1140px){
    .container {
        width: 960px;
    }

    .textbox{
        min-height:350px;
   }   
   
   .box{
       width: 100%;
   }
}

@media(max-width:960px){
    .container {
        width: 100%;

    
    }
    
    

    .textboxall{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
    } 

    .textbox{
        min-height: 200px;
        padding: 12px 12px 12px 12px;
    }

    .section1 .img{
       height: 600px;

    }

    .text-box {
        position: unset;
        top: 0;
        left: 0;
        transform: unset;
    }

    .pic01{
        width: 100%;
        margin: 0;
    }

    .text01{
        width: 100%;
        margin: 50px 50px 50px 50px;
    }

    .box{
        display: flex;
        flex-wrap: wrap;
    }

    .section2 .texture:nth-child(2) {
        margin: 0;
    }

    /* .h1 {
        margin-top: 10px;
        padding-bottom: 10px;
        
    } */

h2{
    margin: 10px 0;
}
    h3{
        font-size: 16px;
    }
   
}